[Desktop Entry]
Name=Minecraft
Comment=Play Minecraft
Exec=~/Minecraft/minecraft
Icon=minecraft
Terminal=false
Type=Application
Categories=Network;Game;

